body{
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #333;
}

.header{

}

.grades{
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
    
}

.grades th{
    background: darkblue;
    color: white;
    padding: 5px;
}

.grades td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.grades tr:nth-child(even) {
  background: lightskyblue;
}

.highlight {
  background: lightgray !important;
}


.form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.form label {
  font-weight: bold;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.submit {
  display: block;       
  margin: 0 auto;
  padding: 10px 20px;
  background: darkblue;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.submit:hover {
  background: #004080;
}
